$font-general: 40px "Titillium Web", sans-serif;
$color: #ffcc00;
$special-fontsize: 20px;
$font-family: "Titillium Web", sans-serif;


$color-redes: (
    bi-facebook: #1f1fce,
    bi-instagram: #e79326,
    bi-whatsapp: green,
);

/*footer*/
.redes{
    margin: 0px 2px 0 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
        a{
            font-size: $special-fontsize;
            color: $color;
        }
}
i.bi{
    font-size: 40px;
}

@each $name-color, $color-icon in $color-redes {
    .#{$name-color}{
        color: $color-icon;
    }
}
.redes__firmaAutor{
    width: 160px;
    height: 40px;
}