
@import "header.scss";
@import "pages.scss";
@import "anim-y-transf.scss";
@import "footer.scss";
@import "media-queries.scss";


/*vars*/

$font-general: 40px "Titillium Web", sans-serif;
$color: #ffcc00;
$special-fontsize: 20px;
$font-family: "Titillium Web", sans-serif;

